*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 4px 5%;
    width: 100%;
    padding-left: 50px;
    box-shadow: 0 0 60px 10px;
    position: sticky;
    top: 0;
    font-size: 20px;
}
.nav{
    position: sticky;
    top: 0;
}
.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 40px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .links{
    list-style: none;
}

.header .links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .links a{
    font-size: 700;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    opacity: 1;    
}

.header .links li a:hover{
    opacity: 0.5;
    color: #028940;
}

.header .btn button{
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: #028940;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 22px;
}

.header .btn button:hover{
    transform: scale(1.1);
}

.title{
    margin-top: 50px;
}

h1{
    width: 500px;
    height: 80px;
    margin: auto;
    text-align: center;
    font-size: 55px;
}

.texto{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 50px;
}

.texto p{
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: justify;
}

.sub{
    width: 1300px;
    height: auto;
    margin: 40px 0;
    padding: 15px;
}

.fila{
    list-style: none;
    display: flex;
    justify-content: center;
}

.fila li{
    display: inline-block;
    padding: 0;
    margin: 15px;
    border-color: transparent;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
    margin-left: 50px;
    margin-right: 50px;
}

.fila img{
    width: 300px;
}

.footer{
    position: relative;
    width: 100%;
    background-color: #028940;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #000;
    border-width: 2px 0 0 0;
    border-style: solid;
}

.footer .subs{
    cursor: pointer;
}

.footer .subs img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.footer .subs img:hover{
    transform: scale(1.15);
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 50px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: #fff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transform: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
    color: #FFC20D;
}
.legal{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}